.nav-bar {
    background: white;
    // width: 60px;
    // height: 100%;
    // position: absolute;
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    // min-height: 500px;

    .logo {
        // display: block;
        margin: 8px 0;
        width: 50%;
        font-size: 24px;
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-family: 'Syne';

        // img {
        //     // display: block;
        //     margin: 8px auto;
        //     width: 24px;
        //     height: auto;

        //     &.sub-logo {
        //         width: 50px;
        //     }
        // }
    }

    nav {
        display: flex;
        text-align: center;
        justify-content: end;
        // position: absolute;
        // height: 210px;
        align-items: center;
        gap: 30px;
        // top: 50%;
        // margin-top: -120px;
        width: 50%;

        a {
            font-size: 22px;
            color: #4d4d4e;
            // display: flex;
            // line-height: 51px;
            // height: 51px;
            // position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #9e0000;
                text-decoration: line-through;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }
        

        a.active {
            svg {
                color: #9e0000;
            }
        }
    }

    // ul {
    //     // position: absolute;
    //     // bottom: 20px;
    //     // width: 100%;
    //     display: flex;
    //     // padding: 0;
    //     list-style: none;
    //     text-align: center;
    //     // margin: 0;

    //     li {
    //         a{
    //             padding: 7px 0;
    //             display: block;
    //             font-size: 15px;
    //             line-height: 16px;

    //             &:hover svg {
    //                 color: #9e0000;
    //             }
    //         }
    //     }
    // }
}